GPATH
GRTAGS
GTAGS

Module.symvers
modules.order
modules.builtin

.tmp_versions
.cache.mk
*.o
*.ko
*.mod
*.mod.c
*.d
*.tar
*.tar.*
*.a
*.cmd
*.tmp
*.so

.ccls
.ccls-cache
.cache/
compile_commands.json
parse

build/
qemu-build/
src/tests/qemu/distfiles/
